.blogview1{
    background-color:  rgb(58, 57, 60);
    padding: 30px 0;
    &_naviget a{
        color: rgb(128, 128, 128);
        font-size: 13px;
    }
    &_blog{
        margin-top: 50px;
        height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: rgb(225, 225, 225);
    }
}