.cars {
  background-color: #1e1f27;
  font-family: Averta, sans-serif;

  &__container {
    display: flex;
    gap: 20px;
    position: relative;
    @media (max-width: 700px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .filter-menu-button,
  .filter .filter-menu-close-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    border-radius: 5px;
    z-index: 99999;
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }

  .filter-menu-button {
    background-color: #272933;
  }

  .filter .filter-menu-close-button {
    background-color: #1e1f27;
  }

  .filter {
    background: #272933;
    padding: 60px 0;
    width: 600px;
    position: relative;
    @media (max-width: 700px) {
      width: 100%;
    }

    .filter-container {
      margin: 0 auto;
      max-width: 450px;
      padding: 20px 25px;
      color: #fff;

      .filter-title {
        font-size: 28px;
        letter-spacing: 1.6px;
        margin-bottom: 20px;
        @media (max-width: 700px) {
          font-size: 24px;
        }
      }

      .filter-part-car {
        .filter-to-offer {
          display: flex;
          flex-direction: column;
          margin-bottom: 35px;
          width: 100%;

          .part-title {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 25px;
            @media (max-width: 700px) {
              font-size: 20px;
            }
          }

          .filter-labels {
            display: flex;
            align-items: center;
            gap: 15px;
            color: #fff;
            font-size: 18px;
            cursor: pointer;
            margin-bottom: 14px;
            max-width: 360px;
            @media (max-width: 700px) {
              font-size: 16px;
            }
          }

          .filter-to-select {
            border: 1.5px solid #c4c4c4;
            border-radius: 7px;
            padding: 15px 25px;
            color: #000;
            outline: none;
          }
        }

        .filter-buttons {
          display: flex;
          justify-content: space-between;
          width: 100%;

          button {
            border: 1.3px solid #fff;
            border-radius: 10px;
            font-size: 19px;
            letter-spacing: 2px;
            padding: 20px 40px;
            cursor: pointer;
            outline: none;
            color: #fff;

            &.reset-button {
              background: transparent;
            }

            &.apply-button {
              background-color: #009a00;
              border-color: #009a00;
            }

            @media (max-width: 1300px) {
              font-size: 18px;
              padding: 15px 30px; /* Kichik ekranlar uchun paddingni sozlash */
            }

            @media (max-width: 880px) {
              font-size: 18px;
              padding: 10px 25px; /* Kichik ekranlar uchun paddingni sozlash */
            }
          }
        }
      }
    }
  }

  .filter-cars {
    width: 100%;
  }

  .all-cars {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px;
    gap: 30px;
    width: 100%;
    @media (max-width: 700px) {
      width: 100%;
      justify-content: space-around;
      align-items: center;
    }

    .empty,
    .loading {
      font-size: 30px;
      color: #fff;
      margin: 30px auto;
      @media (max-width: 700px) {
        font-size: 26px;
      }
    }
  }

  .filter-cars-card {
    background: linear-gradient(
      338deg,
      rgba(41, 41, 41, 0.266) 31%,
      hsla(200, 1%, 59%, 0.152)
    );
    border: 1.2px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    height: 430px;
    padding: 10px;
    width: 290px;
    position: relative;

    &:hover {
      cursor: pointer;
      background: linear-gradient(
        161.55deg,
        #ffffff4b -9.06%,
        #11121997 39.4%,
        #111219
      );
    }

    .filter-cars-card-top {
      cursor: pointer;

      .cars-picture {
        height: 200px;
        width: 300px;
        display: flex;
        align-items: center;
        overflow-y: hidden;
        margin-bottom: 35px;
        object-fit: contain;

        img {
          width: 265px;
          height: 100%;
          border-radius: 20px;
        }

        .skeleton-image {
          width: 265px;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          object-fit: cover;
        }
      }

      .filter-cars-card-title {
        font-size: 19px;
        color: #fff;
        letter-spacing: 2px;
        padding: 7px;
        margin: 10px 0;
        border-bottom: 1.3px solid rgba(255, 255, 255, 0.38);
        @media (max-width: 700px) {
          font-size: 17px;
        }
      }

      .filter-cars-card-aed {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;

        .filter-cars-card-usd {
          color: #9e9a9a;
          font-size: 18px;
          font-weight: 300;
        }
      }

      .renta-type {
        color: #b3b2b2;
        font-size: 14px;
      }
    }

    .filter-cars-card-bottom {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 8px;

      button {
        display: inline-flex; /* Buttonni inline flex qilib, faqat kerakli o'zgarishni amalga oshiradi */
        align-items: center; /* Vertikal tekislikni to'g'rilash */
        justify-content: center; /* Horizontal ravishda so'zlarni markazlashtirish */
        gap: 10px;
        font-size: 18px;
        padding: 15px 7px;
        border-radius: 10px;
        cursor: pointer;
        color: #fff;
        border: none;
        outline: none;
        white-space: nowrap; /* So'zlarni bir qatorda ushlab turish */

        &.btn-w {
          background-color: #00c600;
        }

        &.btn-t {
          background-color: #2727e0;
        }

        @media (max-width: 700px) {
          font-size: 16px;
          padding: 12px 6px; /* Kichik ekranlar uchun paddingni sozlash */
        }
      }
    }
  }
}
