.budget {
  background-color: #272933;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 50px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    h1 {
      font-size: 24px;
      font-weight: 400;
      font-style: normal;
      font-family: Averta, sans-serif;
      color: #fff;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }

  .btnRuB {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
    font-size: 12px;
    color: #fff;
    transition: all 0.2s ease;
    fill: #fff;
    stroke: #fff;
    font-family: Averta, sans-serif;

    @media (min-width: 480px) {
      margin-top: 0;
      margin-right: 25px;
    }

    @media (min-width: 992px) {
      font-size: 18px;
    }

    &:hover {
      color: #ea0029;
      fill: #ea0029;
      stroke: #ea0029;
    }

    &:hover .imgbtn {
      margin-left: 15px;
    }

    &:hover .path {
      fill: #ea0029;
    }
  }

  .imgbtn {
    transition: all 0.3s ease;
  }

  .path {
    transition: all 0.1s ease;
    fill: #fff;
  }

  &__cards {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
  }
}
