.navbar {
  font-family: "Averta", sans-serif;
  background-color: rgb(48, 45, 54);
  padding: 20px 0;
  background: linear-gradient(
    270deg,
    rgb(48, 45, 54),
    rgb(48, 45, 54),
    hsl(352, 71%, 15%),
    rgb(48, 45, 54),
    rgb(48, 45, 54)
  );
  background-size: 450% 450%;
  animation: gradientAnimation 8s ease-in-out infinite, boxShadowAnimation 4s ease infinite;
  position: relative;
  z-index: 999;

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes boxShadowAnimation {
    0% {
      box-shadow: 0 0 10px rgb(48, 45, 54), 0 0 20px rgba(63, 32, 167, 0.2);
    }
    50% {
      box-shadow: 0 0 40px rgba(86, 27, 5, 0.6), 0 0 30px rgba(23, 7, 146, 0.6);
    }
    100% {
      box-shadow: 0 0 10px rgba(7, 7, 7, 0.2), 0 0 20px rgba(123, 12, 12, 0.2);
    }
  }

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_languages {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  &_search {
    &_input {
      position: relative;
    }

    input {
      color: white;
      width: 400px;
      height: 50px;
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 0 50px;
      font-size: 20px;
      background: rgb(137, 137, 137);
      background: linear-gradient(90deg, rgb(71, 71, 71) 29%, rgb(48, 45, 54) 100%);
    }
  }

  &_icon {
    color: white;
    position: absolute;
    margin-top: 23px;
    margin-left: 10px;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
  }

  &_navlink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;

    a {
      color: rgb(255, 255, 255);
      font-size: 15px;
      position: relative;
      padding-bottom: 1px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: rgb(177, 46, 46);
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }

      &.active {
        color: #eb0e0e; 
        font-weight: bold; 
        padding-bottom: 5px;
      }
    }
  }

  &_phon {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 15px;
  }
}

.dropdown {
  position: relative;
  text-align: center;

  .dropdown-menu {
    width: 800px;
    display: none;
    position: absolute;
    top: 100%;
    left: -400px;
    background: linear-gradient(145deg, #333, #2c2c2c);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    gap: 25px;
    z-index: 10;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px; 
    row-gap: 15px; 

    .burger-button {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 25px;
      cursor: pointer;
      z-index: 10;
    }
    
    .burger-line {
      width: 100%;
      height: 3px;
      background-color: #333;
      transition: all 0.3s ease-in-out;
    }
    
    .burger-button.open .burger-line:nth-child(1) {
      transform: rotate(45deg);
      position: relative;
      top: 8px;
    }
    
    .burger-button.open .burger-line:nth-child(2) {
      opacity: 0;
    }
    
    .burger-button.open .burger-line:nth-child(3) {
      transform: rotate(-45deg);
      position: relative;
      top: -8px;
    }

    .dropdown-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: -30px;

      .dropdown-item {
        color: white;
        text-decoration: none;
        font-size: 15px;
        transition: color 0.3s, transform 0.3s;
        display: flex;
        gap: 15px;
        align-items: center;
        margin-top: 50px;

        &:hover {
          color: #00eaff;
          transform: translateX(5px);
        }
      }
    }
  }

  &:hover .dropdown-menu {
    display: grid;
    opacity: 1;
    transform: translateY(0);
  }
}

span {
  font-size: 15px;
  font-weight: 700;
  filter: drop-shadow(4px 4px 6px rgba(255, 255, 255, 0.3));
  color: #f1f1f1;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px; /* Adjusted padding */

  &_search {
    &_input {
      display: none;
    }

    input {
      display: none;
    }
  }

  &_icon {
    display: none;
  }

  &_navlink {
    display: none;

    a {
      display: none;
    }
  }

  &_phon {
    display: none;
  }

  .navbar_navlink.active {
    display: block;
    background-color: #a52424;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding: 10px 0;
    text-align: center;
  }

  .burger-button {
    display: flex;
  }
}
}
